- title 'Innlogging'

.row
  .span5
    %h2 Logg inn som bruker
    = semantic_form_for User.new, :url => login_path, :html => { :class => "form-horizontal" } do |f|
      = f.inputs do
        = f.input :email, :input_html => { :value => @user_mail }
        = f.input :password, :required => true
      = f.actions do
        = f.action :submit, :label => "Logg inn"

  .span5
    %h2 Logg inn som administrator
    = semantic_form_for Member.new(:mail => @member_mail), :url => login_path, :html => { :class => "form-horizontal" } do |f|
      = f.inputs do
        = f.input :mail
        = f.input :passord, :as => :password
      = f.actions do
        = f.action :submit, :label => "Logg inn"

%p
  = link_to "Ingen bruker? Opprett ny konto her!", new_user_path

%p
  %a
    = link_to forgot_password_users_path do
      Glemt passord?
