%h1 Logg in
= semantic_form_for Member.new(:mail => @mail), :url => login_path, :html => { :class => "form-horizontal" } do |f|
  = f.inputs do
    = f.input :mail, :hint => "Du kan også logge inn med ditt medlemsnummer"
    = f.input :passord, :as => :password
  = f.actions do
    = f.action :submit, :label => "Logg inn"
