= semantic_form_for @presentation do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :guest_limit
    = f.input :presentation_date
  = f.actions do
    = f.action :submit
