= semantic_form_for @presentation, :html => { :class => "form-horizontal" } do |f|
  = f.inputs do
    = f.input :name
    = f.input :corporation
    = f.input :description, :input_html => { :class => "input-xxlarge" }
    = f.input :guest_limit
    = f.input :presentation_date, :as => :string, :input_html => { :class => "datetime_select" }
  = f.actions do
    = f.action :submit
