%table.table.presentations
  %thead
    %tr
      %th Tittel
      %th Bedrift
      %th Dato
      %th Klokkeslett
      %th Ledige Plasser
  - unless presentations.empty?
    - presentations.each do |presentation|
      %tr
        %td
          = link_to presentation.name, presentation
        %td
          = presentation.corporation
        %td
          = presentation.presentation_date.to_date
        %td
          = presentation.presentation_date.strftime("%H:%M")
        %td
          = presentation.guest_limit - presentation.users.size
        - if @current_user.respond_to? :role_symbols_with_hierarchy and @current_user.role_symbols_with_hierarchy.include? :presentation_administrator
          %td
            = render 'edit_button', :presentation => presentation
