%table.table
  %thead
    %tr
      %th Tittel
      %th Bedrift
      %th.hidden-phone Lokale
      %th.hidden-phone.hidden-tablet Plasser
      %th Tidspunkt
  - unless presentations.empty?
    - presentations.each do |presentation|
      %tr{ :class => css_status(presentation)  }
        %td
          = link_to presentation.with_prefix, presentation
        %td
          = presentation.corporation
        %td.hidden-phone
          = presentation.area
        %td.hidden-phone.hidden-tablet
          = "#{presentation.guest_limit - presentation.participations.size} / #{presentation.guest_limit}"
        %td
          %time{ :datetime => @promo.presentation_date.xmlschema }
            = @promo.presentation_date.strftime("%d. %B %Y – %H:%M")
        - if @current_user.respond_to? :role_symbols_with_hierarchy and @current_user.role_symbols_with_hierarchy.include? :presentation_administrator
          %td
            = render 'edit_button', :presentation => presentation
