.section#content
  %h3
    = @presentation.name
  .row
    .span9
      :markdown
        #{@presentation.description}
    .span3
      .well.sidebar-nav
        Dato:
        :markdown
          #{@presentation.presentation_date.to_date}
        Klokkeslett:
        :markdown
          #{@presentation.presentation_date.strftime("%H:%M")}
        Bedrift:
        :markdown
          #{@presentation.corporation}
          