.section#content
  .row
    .span10.offset1
      = image_tag "/assets/placeholder.jpg"
  .row
    .span10.offset1
      %h1
        = @presentation.name.capitalize
  .row
    .span8.offset1
      :markdown
        #{@presentation.description}
      -if permitted_to? :create, :participations
        %p
          -if @presentation.users.include? @current_user
            = link_to "Meld meg av!", presentation_participation_path(@presentation), :method => :delete
          -elsif @current_user
            = link_to "Meld meg p책", presentation_participations_path(@presentation), :method => :post
    .span2
      .well.sidebar-nav
        %b
          Bedrift:
        :markdown
          #{@presentation.corporation}
        %b
          Dato:
        :markdown
          #{@presentation.presentation_date.to_date}
        %b
          Klokkeslett:
        :markdown
          #{@presentation.presentation_date.strftime("%H:%M")}
        %b
          Sted:
        :markdown
          #{@presentation.area.name}
        %b
          Ledige plasser:
        %p
          = @presentation.guest_limit - @presentation.users.size

        -if permitted_to? :new, :presentations
          :markdown
            #{link_to "Rediger", edit_presentation_path(@presentation), :class=> 'btn'}
        - unless @presentation.canceled
          - if permitted_to? :cancel, :presentations
            %p
              #{link_to "Avlys", cancel_presentation_path(@presentation), :class=> 'btn', :method => :post}
          
  .row
    .span10.offset1
      %h2
        P책meldte brukere
      %p
        = "#{@presentation.users.size} / #{@presentation.guest_limit} p책meldte"

  -if @presentation.users.empty?
    .row
      .span12
        %p
          Ingen p책meldte :(
  -else
    - users = @presentation.users
    - len = users.length
    - (users.size/10 +1).times do |y|
      .row
        - 10.times do |x|
          -if y*10+x < len
            -if x == 0
              %p.span1.offset1
                = users[y*10 + x].full_name
            -else
              %p.span1
                = users[y*10 + x].full_name
