.banner-image{:style => "background-image: url('#{@presentation.image.url(:banner)}');"}

%h1
  = @presentation.name.capitalize

.row
  .span8
    :markdown
      #{@presentation.description}
    -if permitted_to? :create, :participations
      %p
        -if @presentation.users.include? @current_user
          = link_to "Meld meg av!", presentation_participation_path(@presentation), :method => :delete
        -elsif @current_user
          = link_to "Meld meg p책", presentation_participations_path(@presentation), :method => :post
  .span2
    .well.sidebar-nav
      %b
        Bedrift:
      %p
        = @presentation.corporation
      %b
        Dato:
      %p
        = @presentation.presentation_date.to_date
      %b
        Klokkeslett:
      %p
        = @presentation.presentation_date.strftime("%H:%M")
      %b
        Sted:
      %p
        = @presentation.area.name
      %b
        Ledige plasser:
      %p
        #{@presentation.guest_limit - @presentation.users.size}
        av
        #{@presentation.guest_limit}
      - if @current_user.respond_to? :role_symbols_with_hierarchy and @current_user.role_symbols_with_hierarchy.include? :presentation_administrator
        = render 'edit_button', :presentation => @presentation
        
-if @current_user.respond_to? :role_symbols_with_hierarchy and @current_user.role_symbols_with_hierarchy.include? :presentation_administrator
  %h2
    P책meldte brukere
  %p
    %b
      = "#{@presentation.users.size} / #{@presentation.guest_limit} p책meldte"

  -if @presentation.users.empty?
    %p
      Ingen p책meldte :(
  -else
    %table.table
      %thead
        %tr
          %th Fornavn
          %th Etternavn
          %th Email
      - users = @presentation.users
      - users.size.times do |y|
        %tr
          %td
            = users[y].firstname
          %td
            = users[y].surname
          %td
            = users[y].email
