- title "#{@presentation.name}"

.row-fluid
  .span12
    .banner-image{:style => "background-image: url('#{@presentation.image.url(:banner)}');"}
      = link_to @presentation, :style => "align_bottom" do
        %h2= @presentation.with_prefix
        %h3
          = "#{@presentation.corporation} – #{@presentation.area} –"
          %time{ :datetime => @presentation.presentation_date.xmlschema }
            = @presentation.presentation_date.strftime("%d. %B %Y – %H:%M")

.row-fluid
  .span8
    :markdown
      #{@presentation.description}
    - if permitted_to? :create, :participations
      %p
        - if @presentation.participants.include? @current_user
          = link_to "Meld meg av!", presentation_participation_path(@presentation, participation(@presentation, @current_user)), :method => :delete
        - elsif @current_user
          = link_to "Meld meg på", presentation_participations_path(@presentation), :method => :post
<<<<<<< HEAD
  .span4
    .well
      %ul.snappy
        - if @current_user.respond_to? :role_symbols_with_hierarchy and @current_user.role_symbols_with_hierarchy.include? :presentation_administrator
          %li
            = render 'edit_button', :presentation => @presentation
        %li
          %b Bedrift:
          %p= @presentation.corporation
        %li
          %b Dato:
          %p= @presentation.presentation_date.to_date
        %li
          %b Klokkeslett:
          %p= @presentation.presentation_date.strftime("%H:%M")
        %li
          %b Sted:
          %p= @presentation.area.name
        %li
          %b Ledige plasser:
          %p
            #{@presentation.guest_limit - @presentation.users.size}
            av
            #{@presentation.guest_limit}

- if @current_user.respond_to? :role_symbols_with_hierarchy and @current_user.role_symbols_with_hierarchy.include? :presentation_administrator
  .row-fluid
    .span12
      %h2 Påmeldte brukere
      %p
        %b= "#{@presentation.users.size} / #{@presentation.guest_limit} påmeldte"

      - if @presentation.users.empty?
        %p Ingen påmeldte :(

      - else
        %table.table
          %thead
            %tr
              %th Navn
              %th Email
          %tbody
            - @presentation.users.sort_by(&:full_name).each do |user|
              %tr
                %td= "#{user.surname}, #{user.firstname}"
                %td= user.email
