%h1 Glemt passord

= semantic_form_for User.new(:email => @email), :url => forgot_password_users_path, :html => { :class => "form-horizontal" } do |f|
  = f.inputs do
    = f.input :email
  = f.actions do
    = f.action :submit, :label => "Glemt passordet ditt?"
