- if flash.any? || ( ( @current_user.is_a? User ) && @current_user.notifications.any? )
  .row-fluid
    .span12
      - if @current_user.is_a? User
        - @current_user.notifications.each do |notification|
          %div.alert.alert-block.alert-notice
            %button{ :type => "button", :class => "close"}
              = link_to notification_path(notification), {:method => :delete} do
                &times
            = notification.descritpion
            = link_to "Se presentasjonen her", presentation_path(notification.presentation)

      - flash.each do |type, message|
        %div{ :class => "alert alert-block alert-#{type}" }
          = message