!!! 5
%html
  %head
    %title Bedpres
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Bedriftspresentasjoner på Samfundet", root_path, :class => "brand"
          .pull-right
            -if @current_user
              .brand
                = @current_user.full_name
            %ul.nav
              %li
                - if @current_user
                  = link_to "Logg ut", logout_path, :method => :post
                - else
                  = link_to "Logg inn", login_path

    .container
      - flash.each do |type, message|
        %p{ :class => "text-#{type}" }
          = message
      = yield
