!!! 5
%html
  %head
    %title Bedpres
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          = link_to "Bedriftspresentasjoner på Samfundet", root_path, :class => "brand"
          .pull-right
            %ul.nav
              - if @current_user
                %li
                  - if @current_user.is_a? User
                    = link_to edit_user_path(@current_user) do
                      = @current_user.full_name
                  - else
                    = link_to "https://medlem.samfundet.no/account/edit" do
                      = @current_user.full_name
              %li
                - if @current_user
                  = link_to "Logg ut", logout_path, :method => :post
                - else
                  = link_to "Logg inn", login_path
    .container
      - flash.each do |type, message|
        %div{ :class => "alert alert-block alert-#{type}" }
          = message
      = yield
