!!! 5
%html
  %head
    %title
      - unless (yield :title).blank?
        #{yield(:title)}
      - else
        Bedriftspresentasjoner
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container
      - if @current_user.is_a? User
        - @current_user.notifications.each do |notification|
          %div{ :class => "alert alert-block alert-notice"}
            %button{ :type => "button", :class => "close"}
              = link_to notification_path(notification), {:method => :delete} do
                &times
            = notification.descritpion
            = link_to "Se presentasjonen her", presentation_path(notification.presentation)
      - flash.each do |type, message|
        %div{ :class => "alert alert-block alert-#{type}" }
          = message
      = yield
